<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="tit-container">
        <div class="titlee">
          حول
        </div>
        <div class="backicon">
          <ion-icon name="arrow-round-back" (click)="back()"></ion-icon>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div style="text-align: center;">
    <img src="./assets/imgs/logo.png" />
  </div>

  <p>
    مكياجي هو اول تطبيق تجارة وتسويق مكياج ومواد تجميل في العراق
    مكياجي وكيل وموزع معتمد لاكثر من 30 ماركة عالمية متخصصة في مجال التجميل والعناية بالبشرة والشعر
    وية مكياجي انتي احلى
  </p>

</ion-content>