    ion-title,
    ion-content {
        font-family: 'Cairo', sans-serif;
        direction: rtl;
    }

    p {
        font-size: 15px;
    }

    img {
        width: 200px;
        height: 200px;
    }