.datetime{
    font-size: 12px !important;
    text-align: left !important;
    padding: 5px;
    font-weight: bold;
}

.divider{
    font-weight: bold
}

.noitem{
    font-weight: bold;
    margin:10px
}