.full-width-card {
    width: 100%;
    margin: 0px;
}

.item-radio {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    padding-left: 0;
}

.image {
    height: 40vh;
    background-size: auto 100% !important;
    background-repeat: no-repeat;
    background-position: center center;
}
mat-label{
    font-family: 'Cairo', sans-serif;
    text-align: left !important
}
 mat-form-field[_ngcontent-qrm-c3] {
    direction: rtl;
    text-align: right;
}
.mat-form-field {
    text-align: right !important;
}
mat-form-field {
    width: 95%;
    direction: rtl;
    margin-right: 15px;
  }