<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="tit-container">
        <div class="titlee">
          تسجيل الدخول
        </div>
        <div class="backicon">
          <ion-icon name="arrow-round-back" (click)="back()"></ion-icon>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="signin">
    <div class="header">
      <div class="logos">
        <img src="assets/imgs/logo.png" width="80">
      </div>
      <h1>تسجيل الدخول</h1>
      <p>قم بتسجيل الدخول لاستخدام التطبيق</p>
    </div>
    <div class="main">
      <form role="form" #f="ngForm" (ngSubmit)="signIn(f)">
        <ion-item>
          <ion-input class="form-control" placeholder="البريد الالكتروني" type="email" name="email" ngModel required
            email>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="form-control" placeholder="كلمة المرور" [type]="show ? 'text' : 'password'" name="password"
            ngModel minlength="8" required></ion-input>
        </ion-item>
        <div class="form-check" style="margin:5px">
          <label class="form-check-label">
            <ion-checkbox color="danger" (click)="password()"></ion-checkbox>
            اظهار كلمة المرور
          </label>
        </div>
        <ion-button color="danger" type="submit" [disabled]="!f.valid">تسجيل الدخول</ion-button>
        <ion-button shape="round" (click)="logginFacebook()">
          تسجيل الدخول باستخدام الفيسبوك
          <ion-icon style="padding:2px" name="logo-facebook"></ion-icon>
        </ion-button>
      </form>
      <a style="color: #c0101e; text-decoration: none; font-size: 16px; margin: 10px" [routerLink]="['/signup']"
        routerLinkActive="router-link-active">انشاء حساب؟</a>
    </div>
  </div>
</ion-content>