ion-card {
    margin: 0 !important;
    width: 100% !important;
}

.image {
    height: 30vh;
    background-size: auto 100% !important;
    background-repeat: no-repeat;
    background-position: center center;
}

.product-name {
    text-align: left;
    margin: 5px;
    max-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header-image {

    ion-card {

        position: relative;
        text-align: center;
        // max-height: 25% !important;
        // min-height: 25% !important;
        height: 30vh;
        margin: 0 !important;
        width: 100% !important;
    }

    ion-card img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
    }

    .card-title {
        position: absolute;
        top: 30%;
        font-size: 3.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }

    .card-subtitle {
        font-size: 1.5em;
        position: absolute;
        top: 60%;
        width: 100%;
        color: #fff;
        z-index: 10;
    }
}