.compact .item-inner .input-wrapper ion-label {
    margin: 0 !important;
}

ion-content, ion-header {
   font-family: 'Cairo', sans-serif;
   direction: rtl;
}
ion-toolbar{
    font-family: 'Cairo', sans-serif;
}