<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="tit-container">
        <div class="titlee">
          سياسة الخصوصية
        </div>
        <div class="backicon">
          <ion-icon name="arrow-round-back" (click)="back()"></ion-icon>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div style="text-align: center;">
    <img src="./assets/imgs/logo.png" />
  </div>
  <p>
    تلتزم شركة مكياجي بالحفاظ على البيانات الخاصة بالعملاء ( الاسم , رقم الهاتف , البريد الالكتروني , العنوان ) واية
    بيانات اخرى يتم الحصول عليها من التطبيق بصورة سرية وعدم استعمالها لا فيما يتعلق بعمل التطبيق وعدم اطلاع اي جهة
    خارجية عليها إلا بموافقة الزبون كما تضمن الشركة حق الزبون في طلب حذف معلوماته من قواعد بيانات الشركة للاسباب التي
    يراها مناسبة , كما تلتزم الشركة بابلاغ الزبون باي تعديلات تحصل على سياسة الخصوصية وامن المعلومات الخاصة بها
    كما تلتزم الشركة بان المعلومات المتحصل عليها من الزبون تستخدم في
  </p>
  <ul>
    <li> فتح حساب الكتروني للزبون</li>
    <li> انشاء سلة تسوق لتجميع مشتريات الزبون</li>
    <li> توصيل الطلبات الى الزبون اعتماداً على عنوان سكنه او العنوان الذي يراه مناسباً </li>
    <li> - التواصل مع الزبون فيما يخص عمل التطبيق واعلامه بالتحديثات والخصومات والقسائم الشرائية
    </li>

    <li> كما يقوم التطبيق باستخدام الكوكيز لتسهيل عملية دخول الزبائن الى التطبيق.</li>
  </ul>

</ion-content>