/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.header-md:after {
    content: none;
    height: unset;
}

.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
    font-family: 'Cairo', sans-serif;
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
spanion-action-sheet,
menuitem,
ion-action-sheet-controller,
ion-alert,
ion-alert-controller,
ion-anchor,
ion-app,
ion-avatar,
ion-back-button,
ion-backdrop,
ion-badge,
ion-button,
ion-buttons,
ion-card,
ion-card-content,
ion-card-header,
ion-card-subtitle,
ion-card-title,
ion-checkbox,
ion-chip,
ion-col,
ion-content,
ion-datetime,
ion-fab,
ion-fab-button,
ion-fab-list,
ion-footer,
ion-grid,
ion-header,
ion-icon,
ion-img,
ion-infinite-scroll,
ion-infinite-scroll-content,
ion-input,
ion-item,
ion-item-divider,
ion-item-group,
ion-item-option,
ion-item-options,
ion-item-sliding,
ion-label,
ion-list,
ion-list-header,
ion-loading,
ion-loading-controller,
ion-menu,
ion-menu-button,
ion-menu-controller,
ion-menu-toggle,
ion-modal,
ion-modal-controller,
ion-nav,
ion-nav-pop,
ion-nav-push,
ion-nav-set-root,
ion-note,
ion-picker,
ion-picker-column,
ion-picker-controller,
ion-popover,
ion-popover-controller,
ion-progress-bar,
ion-radio,
ion-radio-group,
ion-range,
ion-refresher,
ion-refresher-content,
ion-reorder,
ion-reorder-group,
ion-ripple-effect,
ion-route,
ion-route-redirect,
ion-router,
ion-router-outlet,
ion-row,
ion-searchbar,
ion-segment,
ion-segment-button,
ion-select,
ion-select-option,
ion-select-popover,
ion-skeleton-text,
ion-slide,
ion-slides,
ion-spinner,
ion-split-pane,
ion-tab-bar,
ion-tab-button,
ion-text,
ion-textarea,
ion-thumbnail,
ion-title,
ion-toast,
ion-toast-controller,
ion-toggle,
ion-toolbar,
ion-virtual-scroll {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}

.alert-radio-icon.sc-ion-alert-md {
    left: unset !important;
    right: 20px;
}

.alert-radio-label.sc-ion-alert-md {
    font-family: 'Cairo', sans-serif;
}

.alert-button.sc-ion-alert-md {
    font-family: 'Cairo', sans-serif;
}

h1,
ion-card-subtitle {
    color: #c0101e;
}

.mapz {
    display: none;
}

#map_canvas {
    height: 90%;
}

#no-items-ava {
    display: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    margin-top: 50px;
    width: 120px;
    height: 120px;
    font-size: 18px;
}

.lds-roller {
    position: relative;
    width: 64px;
    height: 64px;
    margin-right: auto;
    margin-left: auto;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ef5350;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.backicon {
    color: #c0101e;
    display: flex;
    align-items: center;
    font-size: 24px
}

.backicon {
    color: #c0101e;
    display: flex;
    align-items: center;
    font-size: 24px
}

.tit-container {
    display: flex;
}

.titlee {
    font-family: 'Cairo', sans-serif;
    width: 100%;
}