.logos {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    text-align: center;
}

ion-list-header {
    font-size: 18px;
    color: #c0101e;
}